body, html {
    height: 100%;
    background: #666;
}

#root {
    padding: 0;
}

.app-container {
    background: #fff;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-container h1 {
    margin-bottom: 50px;
}

.login-container-form {
    width: 40%;
}

.game-session {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.game-status-component {
    flex: 1;
}

.game-board-component {
    flex: 7;
}

#board {
    height: 100%;
}
